@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');

:root {
    color-scheme: light dark;

    --color-dark: #333333;
    --color-body: #FDFCFC;
    
    --font-primary: 'Lato', sans-serif;
}

